name: Docs
on: [push, pull_request, workflow_dispatch]
permissions:
    contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install -r requirements.txt
          pip install git+https://github.com/sphinx-doc/sphinx
          pip install sphinx sphinx_rtd_theme
          sudo apt-get update -y
          sudo apt-get install -y ghp-import
      - name: Build HTML
        run: | 
          sphinx-build docs _build
          cd docs/
          make html    
          cd ..
      - name: Run ghp import
        run: |  
          ghp-import -n -p docs/_build/html    
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true